<h3>Send Error Msg</h3>

  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="error">Msg: </label>
      <input type="text" class="form-control" id="error" required [(ngModel)]="error" name="error">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>

